#imagePreview {
    border: 2px solid black;
    width: 100%;
}

form input,textarea,div,select {
    width: 100%;
    margin: 1rem auto;
}

textarea {
    resize: none;
}

form {
    padding-bottom: 2rem;
    border-bottom: 2px solid lightblue;
}

#deleteImageButton {
    background-color: lightcoral;
    border-color: red;
}
